<header id="header">
  <!-- Logo -->
  <div class="logo">
    <a routerLink="home">
      <img src="assets/images/logo-top.png" border="0"/>
    </a>
  </div>
  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a routerLink="appointments">Appointments</a></li>
      <li>
        <a href="#" class="icon fa-angle-down">About Us</a>
        <ul>
          <li><a routerLink="team">Our Team</a></li>
          <li><a routerLink="training">Stylist Training</a></li>
          <li><a routerLink="employment">Employment</a></li>
        </ul>
      </li>
      <li><a routerLink="services">Services</a></li>
      <li><a routerLink="products">Products</a></li>
      <li><a routerLink="gallery">Gallery</a></li>
      <li><a routerLink="thebaldbarber">The Bald Barber</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </nav>
</header>