<section class="main style1">
  <header class="small">
    <h2>{{ pageData.title }}</h2>
    <p [innerHTML]="pageData.subtitle"></p>
    <div class="box">
      <p class="subtitle-note" [innerHTML]="pageData.subtitleNote"></p>
    </div>
  </header>
  <div class="inner" *ngIf="pageData.services && pageData.services.length">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <h5>Tier 1</h5>
        <p class="no-bottom-margin">
          {{ pageData.tier1.join(', ')}}
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <h5>Tier 2</h5>
        <p class="no-bottom-margin">
          {{ pageData.tier2.join(', ')}}
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <h5>Tier 3</h5>
        <p class="no-bottom-margin">
          {{ pageData.tier3.join(', ')}}
        </p>
      </div>
      <!-- <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <h5>Tier 4 (Senior)</h5>
        <p class="no-bottom-margin">
          {{ pageData.tier4.join(', ')}}
        </p>
      </div> -->
    </div>
    <hr>
    <div class="table-wrapper">
      <table>
        <thead>
          <th>Service</th>
          <th>Tier 1 ($)</th>
          <th>Tier 2 ($)</th>
          <th>Tier 3 ($)</th>
          <!-- <th>Tier 4 ($)</th> -->
        </thead>
        <tbody>
          <tr *ngFor="let service of pageData.services">
            <td class="service-name">{{ service.name }}</td>
            <td>{{ service.price1 || '-' }}</td>
            <td>{{ service.price2 || '-' }}</td>
            <td>{{ service.price3 || '-' }}</td>
            <!-- <td>{{ service.price4 || '-'}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="box" *ngIf="pageData.hst">
      <p>{{ pageData.hst }}</p>
    </div>
  </div>
</section>

<section class="main style1">
  <div class="inner" *ngIf="pageData.note">
    <h4><span class="icon fa-asterisk accent1"></span> Please Note</h4>
    <div class="box">
      <p [innerHTML]="pageData.note"></p>
    </div>
  </div>
</section>