@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import 'vendor/px-vortex/assets/sass/main';

a {
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

app-appointments {
  & header {
    & h2 {
      & + p {
        font-size: 1rem;
      }
    }
  }
}

app-contact {
  .contact-info {
    .text-center {
      @include breakpoint(small) {
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 1.5rem;
        }
      }
      .icon {
        margin-bottom: 0.25rem;
      }
    }
  }
}

ngui-map {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.review-date {
  margin-left: 0.25rem;
}

.team-logo {
  margin: 0 0 1rem 0;

  img {
    max-width: 180px;

    @include breakpoint(medium) {
			max-width: 160px;
    }
    
    @include breakpoint(small) {
			max-width: 140px;
		}
  }
}

.slick-dots {
  padding: 1rem !important;

  li {
    button {
      &:before {
        content: '' !important;
      }
    }

    &.slick-active {
      button {
        $p: null;
				box-shadow: inset 0 0 0 3px _palette($p, accent4);
				color: _palette($p, accent4) !important;
      }
    }
  }
}