<!-- Banner -->
<section class="main style1">
  <ngx-slick class="image" [config]="bannerSlidesConfig">
    <img ngxSlickItem *ngFor="let slide of bannerSlides" src="{{ slide.img }}" alt="" />
  </ngx-slick>
  <!-- <div class="image filtered slick-banner" data-position="center">
    <img src="assets/images/banner2.jpg" alt="" />
    <img src="assets/images/banner3.jpg" alt="" />
    <img src="assets/images/banner1.jpg" alt="" />
  </div> -->
  <header class="intro">
    <h2>{{ pageData.introTitle }}</h2>
    <div>
      <img class="separator" src="assets/images/logo-bottom.png" border="0" />
    </div>
    <p>{{ pageData.introText }}</p>
  </header>
  <footer>
    <ul class="actions">
      <li><a href="https://www.schedulicity.com/scheduling/BHSN89" class="button special icon fa-calendar">Schedule Appointment</a></li>
    </ul>
  </footer>
</section>

<!-- Services -->
<section class="main style1" *ngIf="pageData.services && pageData.services.length">
  <div class="inner">
    <header class="small">
      <h3 class="text-center">{{ pageData.servicesTitle }}</h3>
    </header>
  </div>
  <div class="features">
    <section *ngFor="let service of pageData.services">
      <span class="icon {{ service.icon }} major {{ service.class }}"></span>
      <h3>{{ service.title }}</h3>
      <p>{{ service.description }}</p>
    </section>
  </div>
  <footer>
    <ul class="actions">
      <li><a routerLink="services" class="button special next">{{ pageData.servicesButtonText }}</a></li>
    </ul>
  </footer>
</section>

<!-- Reviews -->
<section class="main style1" *ngIf="pageData.reviews && pageData.reviews.length">
  <div class="inner">
    <header class="small">
      <h3 class="text-center">{{ pageData.reviewsTitle }}</h3>
    </header>
    <hr>
    <ngx-slick [config]="reviewSlidesConfig">
      <div ngxSlickItem *ngFor="let review of pageData.reviews">
        <header>
          <h4>{{ review.name }}</h4>
          <p>
            <span class="icon fa-star accent5" *ngFor="let i of Array(review.rating).fill(1)"></span>
            <span class="review-date">{{ review.date | amTimeAgo }}</span>
          </p>
        </header>
        <p>{{ review.text }}</p>
      </div>
    </ngx-slick>
  </div>
</section>