<div id="wrapper">

  <!-- Services -->
  <section class="main style1">
    <div class="inner">
      <header class="small">
        <h3 class="text-center">What We Offer</h3>
      </header>
    </div>
    <div class="features">
      <section>
        <span class="icon fa-check major accent1"></span>
        <h3>Haircut &amp; Style</h3>
        <p>Every haircut is executed with precision and style. We promise you'll walk out of here looking your very best!</p>
      </section>
      <section>
        <span class="icon fa-check major accent2"></span>
        <h3>Custom Colours and Highlights</h3>
        <p>We make sure every client leaves with a colour that best suits them. We take in to careful consideration the clients
          needs and wants when choosing the perfect look!</p>
      </section>
      <section>
        <span class="icon fa-check major accent3"></span>
        <h3>Bridal Hair</h3>
        <p>We pride ourselves in our beautiful wedding styles. With 15-20 weddings booked annually, we have the tools, tricks
          and knowledge to having you look your very best on your special day!</p>
      </section>
      <section>
        <span class="icon fa-check major accent4"></span>
        <h3>Hair Extensions</h3>
        <p>Corrie, our extension tech is highly skilled and knows how to install virtually every type of hair extension. Book
          your consultation with Corrie today!</p>
      </section>
    </div>
    <footer>
      <ul class="actions">
        <li><a href="#" class="button special next">View Our Services</a></li>
      </ul>
    </footer>
  </section>

  <!-- Section -->
  <section class="main style2">
    <header class="small">
      <h2>Book Online Now!</h2>
      <ul class="actions">
        <li>
          <a href="https://www.schedulicity.com/scheduling/BHSN89" class="button icon fa-check-circle">Schedule Appointment</a>
        </li>
      </ul>
    </header>
    <footer>
      <ul class="icons">
        <li><a href="https://www.facebook.com/Bamboo-Hair-Salon-127927410607405/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/bamboohairsalonkitchener" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon alt fa-phone"><span class="label">Phone</span></a></li>
        <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
      </ul>
    </footer>
  </section>

</div>