<!-- Section -->
<section class="main style2 booking">
  <header class="small">
    <h2>{{ pageData.bookOnlineButtonText }}</h2>
    <ul class="actions">
      <li>
        <a href="{{pageData.scheduleAppointmentURL}}" class="button icon fa-check-circle">{{ pageData.scheduleAppointmentButton }}</a>
      </li>
    </ul>
  </header>
  <footer>
    <ul class="icons">
      <li><a (click)="openLink(pageData.facebookURL)" href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a (click)="openLink(pageData.instagramURL)" href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="{{pageData.phoneURL}}" class="icon alt fa-phone"><span class="label">Phone</span></a></li>
      <li><a href="{{pageData.emailURL}}" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </footer>
</section>